<ng-template #loading>
    <div>
        <p>loading...</p>
    </div>
</ng-template>

<div *ngIf="task; else loading">
    <h3>Detail de la tache "{{task.entitled}}"</h3>
    
        <p>Intitulé : {{task.entitled}}</p>

        <p>Déscription : {{task.description | null }} </p>

        <p>Date de création: {{task.creationDate}}</p>

        <p>DeadLine : {{task.deadLine | null }}</p>

        <p>Date de fin : {{task.endDate | null }}</p>
        
        <p>Priorité : {{task.priority | priority}}</p>
    
</div>

