<ng-template #loading>
    <div>
        <p>loading...</p>
    </div>
</ng-template>

<div *ngIf="$task | async as task ; else loading">
    <h3>Détails de la tâche "{{task.entitled}}"</h3>
    
        <p>Intitulé : {{task.entitled}}</p>

        <p>Description : {{task.description | null }} </p>

        <p>Date de création: {{task.creationDate}}</p>

        <p>DeadLine : {{task.deadLine | null }}</p>

        <p>Date de fin : {{task.endDate | null }}</p>
        
        <p>Priorité : {{task.priority | priority}}</p>
    
    <button (click)="deleteTask(task)">Supprimer</button>
    <button *ngIf="!task.endDate" (click)="modifyTask(task)">Modifier</button>
    <br>
    <button (click)="return()">Retour</button>
</div>

