<h1>Liste des tâches</h1>

<ng-container>
    <div>

        <label>Trier par :</label>
        <select [(ngModel)]="orderStr" (change)="order()">
            <option value="asc">a-z</option>
            <option value="desc">z-a</option>
        </select>
      
        <br><br>
        <button *ngIf="!hidden" (click)="hideClosed()">Masquer les tâches cloturées</button>
        <button *ngIf="hidden" (click)="displayClosed()">Afficher les tâches cloturées</button>

        
        <p *ngFor="let task of taskList" >
            <span *ngIf="task.endDate != null"> [Cloturée] </span>
             - {{task.entitled}} - <button (click)="displayTask(task)">Afficher</button>
        </p>

    </div>
</ng-container>



