<h1>Liste des tâches</h1><br>

<h3>/!\ Si vous avez ouvert ce projet depuis mon portfolio, il est normal que vous ne puissiez pas ajouter/ modifier ou supprimer une tâche, car celui fonctionne avec une dépendance db-json. <br>
Cependant le code fonctionne bien si vous clonez ce projet et que vous rentrez dans le terminal : `npm install` , puis, `json-server --watch db.json`.</h3>

<ng-container>
    <div>

        <label>Trier par :</label>
        <select [(ngModel)]="orderStr" (change)="order()">
            <option value="asc">a-z</option>
            <option value="desc">z-a</option>
        </select>

        <br><br>
        <label>Intitulé : </label>
        <input type="text" [(ngModel)]="toSearch">
        <button (click)="search()">chercher</button>
      
        <br><br>
        <button *ngIf="!hidden" (click)="hideClosed()">Masquer les tâches cloturées</button>
        <button *ngIf="hidden" (click)="displayClosed()">Afficher les tâches cloturées</button>

        <br><br><br><br>
        <p *ngFor="let task of tasktoDisplay" >
            <span *ngIf="task.endDate != null"> [Cloturée] </span>
             - {{task.entitled}} - <button (click)="displayTask(task)">Afficher</button>
        </p>

    </div>
</ng-container>

<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               aria-label="Select page"
               [showFirstLastButtons]="true"
               (page)="onPageChanged($event)">
</mat-paginator>



